# Rust
/target
/data
**/*.rs.bk
.env

# Android
.gradle/
build/
local.properties
.idea/
*.iml
*.ids
*.hprof
/captures
*.jks
google-services.json
.cxx/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db
Desktop.ini


# Agent Artifacts
.gemini/
.agent/

# Logs and Test scripts
*.log
server.log
test_*.py
test_*.rs

# Databases
/thumbnails
/lyrics
transcode/
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
